/***** Main Body Settings *****/
body{
  margin: 0;
  padding: 0;
  background-color: rgb(221, 255, 254);
  font-family: 'Montserrat';
}


/***** Navbar Settings *****/
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  border-style: solid;
  border-top: rgb(255, 255, 255);
  border-right: rgb(255, 255, 255);
  border-left: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(158, 158, 158);
  position: relative;
}

#pixplace{
  float: left;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a {
  float: left;
  font-size: 35px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.contact-text {
  position: absolute;
  top: 5px;
  right: 145px;
}


.social-icons {
  font-size: 0px;
  position: absolute;
  right: 0px;
  bottom: 30px;
  }

.social-icons li {
  display: inline-block;
  list-style-type: none;
  }

.social-icons li a {
  border-bottom: none;
  padding: 20px 5px;
  }

.social-icons li img {
  width:30px;
  height:30px;
  margin-right: 15px;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  color: rgb(80, 184, 184);
  font-weight:bold;
}


/***** Information Boxes Settings *****/
.mainbox{
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  padding: 50px;
  font-size: 32px;
  
}

#quote{
  text-align: right;
  position: relative;
  top: 60px;
}

.informationbox-photography{
  margin-left: 25%;
  margin-right: 20%;
  padding: 50px;
  font-size: 32px;
  text-align: center;
}

.informationbox-photography h1{
  font-size: 40px;
  font-weight: bolder;
}

.informationbox-photography p{
  font-size: 28px;
}


.container {
  display: flex;
  justify-content: space-evenly;
}

.informationbox-avatar{
  flex: auto auto auto;
  margin-left: 20%;
  width: 20%;
  height: 500px;
  padding: 50px;
  font-size: 32px;
}

.informationbox-avatar p{
  font-size: 24px;
}

.informationbox-avatar h1{
  font-size: 40px;
  font-weight: bolder;
}

.informationbox-avatar h2{
  font-size: 40px;
  font-weight: bolder;
  text-align: right;
}

.informationbox-challenges{
  margin-right: 20%;
  width: 20%;
  height: 500px;
  padding: 50px;
  font-size: 32px;
}

.informationbox-challenges p{
  font-size: 24px;
}

.informationbox-challenges h1{
  font-size: 40px;
  font-weight: bolder;
}

.informationbox-challenges h2{
  font-size: 40px;
  font-weight: bolder;
  text-align: right;
}

.informationbox{
  background-color: rgb(255, 255, 255);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  padding: 50px;
  border-style: solid;
  border-color: rgb(158, 158, 158);
  border-width: 1px;
  font-size: 32px;

}

.informationbox p{
  font-size: 28px;
}

.informationbox h1{
  font-size: 40px;
  font-weight: bolder;
}

.informationbox h2{
  font-size: 40px;
  font-weight: bolder;
  text-align: right;
}

.table,th,td{
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
}


/***** Footer Settings *****/
.footer{
  overflow: hidden;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  border-style: solid;
  border-bottom: rgb(255, 255, 255);
  border-right: rgb(255, 255, 255);
  border-left: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(158, 158, 158);
  word-spacing: 600px;
}